.tooltip-time {
    text-decoration:none;
    position:relative;
}
.tooltip-time span {
    display:none;
    padding: 3px;
    position:fixed;
    background-color: greenyellow;
    overflow:hidden;
}

#player{
    cursor: pointer;
}

.app {
    position: fixed;
    margin-top: 100px;
}

#legend{
    width: 270px;
    margin: 100px auto;
}

.legendAlgo{
    height: 40px;
    line-height: 40px;
    text-align: center;
}

.legendAlgo span{
    display: inline-block;
    vertical-align: middle;
}

.legendAlgo#saturation{
    background-color: red;
}

.legendAlgo#startStopCut{
    background-color: blue;
}

.legendAlgo#startStopSilence{
    background-color: yellow;
}